body, td, th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: buttonface;
    
}


img {
    border: 0px;
}
.center{
    display: block;
    margin: auto;
    
}


#titulo {
    float: left;
    font-size: 25pt;
    font-variant: small-caps;
    font-weight: bold;
}

/*#barra_menu {
    background: url(#{ resource [ 'imagens:fundo_barra_menu.png' ]
}

)
repeat-x;
min-height:25px;
padding:3px;
clear:both;
}*/
#corpo {
    margin-top: 50px;
    margin-bottom: 10px;
    min-height: 1000px;
   
}

#footer {
height:50px;
margin-top:5px;
padding:10px;
text-align:center;


}
.info {
    font-weight: bold;
    color: green;
}

.warn {
    font-weight: bold;
    color: #FFCC00;
}

.fatal, .error {
    font-weight: bold;
    color: red;
}

.column{
    text-align: center;
}